<% include ./partials/header %>

<div class="header">
    <h3>With the new day comes new strength and new thoughts.</h3>
    <a href="/do"><button>Start Doing!</button></a>
</div>


<% include  ./partials/footer %>