<% include ./partials/header %>

<div class="header">
<h1>Add Todo</h1>
<form action="/do" method="POST">
    <input type="text" name="todo">
    <input style="border-radius: 9px;
    width: 120px;
    height: 20px;
    background: white;
    font-weight: bold;" type="submit" value="Don't forget it!">
</form>
</div>
<% include ./partials/footer %>