body {
    background: #606c88;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Indie Flower', cursive;


}

.header {
    
    width: 400px;
    height: 400px;
    color:whitesmoke;
    text-align: center;
    margin: 250px auto;
    padding: 0;
    font-size: 20px;
}

h3 {
    font-size: 1.5em;
}

.maindisplay {
    width: 300px;
    height: 300px;
    color:whitesmoke;
    text-align: center;
    margin: 100px auto;
}

#display {
    margin-bottom: 5px;
}

#display p{
    display: inline;
    font-weight: bold;
}
a button{
    margin-top: 30px;
}
button {
    border-radius: 9px;
    width: 110px;
    height: 55px;
    background: white;
    font-weight: bold;
}

button:hover {
    width: 120px;
    height: 60px;
}

